.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    top: 34px;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: flex-start;
}

.contact-left h1 {
    font-size: 60px;  
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(270deg, #DF8908 50%, #b415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap; 
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff; 
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    width: 500px; 
    height: 60px; 
    padding-left: 15px;
    border-radius: 6px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-right textarea {
    width: 500px; 
    height: 120px; 
    padding: 15px;
    border-radius: 6px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    resize: none;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to right, #DF8908, #b415FF);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transition: all 0.4s ease-in-out;
}

.contact-submit:hover {
    background: linear-gradient(to left, #b415FF, #DF8908);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px) scale(1.05);
}

.contact-submit:hover::before {
    left: 100%;
    transition: 0.7s ease-in-out;
}

.contact-submit:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .contact {
        gap: 50px;
        align-items: start;
        margin: 40px 100px;
    }
    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-left h1 {
        font-size: 54px;
    }
    .contact-left p {
        font-size: 18px;    
    }
    .contact-detail {
        gap: 20px;
    }
    .contact-detail img {
        width: 25px;
    }
    .contact-right label {
        font-size: 20px;
    }
    .contact-right input {
        width: 150%;
        font-size: 20px;
    }
    .contact-right textarea {
        width: 150%;
        font-size: 20px;
    }
    .contact-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}